{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# Script to install and configure new machine.
# User needs to have sudo * permissions to run this.
#
# This script needs to be idempotent, that is, it needs to be runnable multiple 
# times without producing an error on consequent runs.

{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian") -}}
sudo --preserve-env apt-get update
sudo --preserve-env apt-get install -y vim
sudo --preserve-env apt-get install -y neovim
sudo --preserve-env apt-get install -y htop
sudo --preserve-env apt-get install -y ncdu
sudo --preserve-env apt-get install -y tree
{{ else if or (eq .chezmoi.osRelease.idLike "fedora") (eq .chezmoi.osRelease.id "centos" "rocky") -}}
sudo --preserve-env yum -y install unzip
sudo --preserve-env yum -y install vim
sudo --preserve-env yum -y install neovim
sudo --preserve-env yum -y install htop
sudo --preserve-env yum -y install ncdu
sudo --preserve-env yum -y install tree
sudo --preserve-env yum -y install git
{{ end -}}

# Used by Neovim/Vim plugins.
curl -fsSL https://deno.land/x/install/install.sh | sh

# Install AppImage packages.
cd ~/bin
curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
chmod u+x nvim.appimage
{{ end -}}
