{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# Script to install and configure new machine.
# User needs to have sudo * permissions to run this.
#
# This script needs to be idempotent, that is, it needs to be runnable multiple 
# times without producing an error on consequent runs.

{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian") -}}
sudo apt update
sudo apt install vim
sudo apt install htop
sudo apt install ncdu
sudo apt install tree
{{ else if or (eq .chezmoi.osRelease.idLike "fedora") (eq .chezmoi.osRelease.id "centos") -}}
sudo yum -y install vim
sudo yum -y install htop
sudo yum -y install ncdu
sudo yum -y install tree
sudo yum -y install git
{{ end -}}
{{ end -}}
