{{ if eq .chezmoi.os "windows" -}}
# Script to install and configure new machine.
#
# This script needs to be idempotent, that is, it needs to be runnable multiple 
# times without producing an error on consequent runs.

# In case you have reconfigured the location of your virtual folder Documents,
# then we will copy directories to your location to ensure scripts still works.
# TODO: This is required as chezmoi doesn't understand/support Windows virtual folders.
$documents_path = [Environment]::GetFolderPath("MyDocuments")
if ($documents_path -ne "$($env:USERPROFILE)\Documents") { 
	cp -Recurse -Force $env:USERPROFILE\Documents\WindowsPowerShell $documents_path 
	cp -Recurse -Force $env:USERPROFILE\Documents\Scripts $documents_path 
}

# Set environment variables for user.
# If you have a Windows Terminal window open you need to restart it in order for the new environments to load.
[Environment]::SetEnvironmentVariable('LANG', 'en_US.UTF8', [System.EnvironmentVariableTarget]::User)
[Environment]::SetEnvironmentVariable('EDITOR', 'vim', [System.EnvironmentVariableTarget]::User)

# Self-elevate the script if required.
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
	if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
		$CommandLine = "-NoExit -File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
		Start-Process -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
		Exit
	}
}

# Install Chocolatey.
# This is safe even if Chocolatey is already installed. 
Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))

# Configure Chocolatey.
choco feature enable -n allowGlobalConfirmation

# Install packages.
choco install pwsh
choco install vim
choco install neovim
choco install lockhunter
choco install 7zip
choco install microsoft-windows-terminal

# Configure Windows.

# Show file extensions by default.
Set-ItemProperty "HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced" "HideFileExt" 0

# Replace Command Prompt with Windows PowerShell in the menu when right-click on Start button.
Set-ItemProperty "HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced" DontUsePowerShellOnWinX 0

Set-ItemProperty "HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Search" SearchBoxTaskbarMode 1 -Type DWord -Force

# Hide files.

# Hide all Unix dot files. dot files are automatically hidden on Unix.
attrib +h $env:USERPROFILE\.*

{{ end -}}
