// Place your key bindings in this file to override the defaultsauto[]
[
    {
        "key": "ctrl+shift+alt+m",
        "command": "workbench.action.toggleMaximizedPanel"
    },
    {
        "key": "ctrl+u",
        "command": "-cursorUndo",
        "when": "textInputFocus"
    },
    {
        "key": "alt+oem_3",
        "command": "workbench.action.focusActiveEditorGroup",
        "when": "terminalFocus"
    },
    {
        "key": "shift+7",
        "command": "list.find",
        "when": "filesExplorerFocus && !inputFocus"
    },
    // This enables Vim tab navigation in Markdown preview and Keyboard Shortcuts tabs.
    {
        "key": "g t",
        "command": "workbench.action.nextEditorInGroup",
        "when": "activeWebviewPanelId == 'markdown.preview' && neovim.mode != 'insert' && !terminalFocus"
    },
    {
        "key": "g shift+t",
        "command": "workbench.action.previousEditorInGroup",
        "when": "activeWebviewPanelId == 'markdown.preview' && neovim.mode != 'insert' && !terminalFocus"
   },
   {
      "key": "ctrl+c",
      "command": "-vscode-neovim.escape",
      "when": "editorTextFocus && neovim.ctrlKeysNormal.c && neovim.init && !dirtyDiffVisible && !findWidgetVisible && !inReferenceSearchEditor && !markersNavigationVisible && !notebookCellFocused && !notificationCenterVisible && !parameterHintsVisible && !referenceSearchVisible && neovim.mode == 'normal' && editorLangId not in 'neovim.editorLangIdExclusions'"
   },
   {
      "key": "ctrl+c",
      "command": "-vscode-neovim.escape",
      "when": "editorTextFocus && neovim.ctrlKeysInsert.c && neovim.init && neovim.mode != 'normal' && editorLangId not in 'neovim.editorLangIdExclusions'"
},
{
    "key": "ctrl+alt+down",
    "command": "-editor.action.insertCursorBelow",
    "when": "editorTextFocus"
},
{
    "key": "ctrl+alt+up",
    "command": "-editor.action.insertCursorAbove",
    "when": "editorTextFocus"
},
{
    "key": "ctrl+down",
    "command": "-scrollLineDown",
    "when": "textInputFocus"
},
{
    "key": "ctrl+up",
    "command": "-scrollLineUp",
    "when": "textInputFocus"
},
{
    "key": "ctrl+shift+i",
    "command": "-workbench.action.quickchat.toggle",
    "when": "chatIsEnabled"
},
{
    "key": "ctrl+shift+i",
    "command": "workbench.panel.chatSidebar"
},
{
    "key": "ctrl+e",
    "command": "-workbench.action.quickOpen"
},
{
    "key": "alt+oem_3",
    "command": "-workbench.action.editorDictation.start",
    "when": "hasSpeechProvider && !editorReadonly && !speechToTextInProgress"
}{{- if stat (joinPath .chezmoi.homeDir ".chezmoi_local_machine/AppData/Roaming/Code/User/keybindings.json") }},

{{ include (joinPath .chezmoi.homeDir ".chezmoi_local_machine/AppData/Roaming/Code/User/keybindings.json") }}
{{- end }}
]
